[user]
name = Viacheslav Slinko
email = me@vslinko.com
	signingkey = 8AC133CA13886F0E

[push]
default = simple
[core]
	excludesfile = /Users/vslinko/.gitignore_global
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = true
[gpg]
	program = gpg
[init]
	defaultBranch = main
